# Fairmont API Reference

## Table of Contents

{{#.}}
#### [{{title}}](#{{name title}})
{{#content}}
<small>
- {{#title}}**[{{.}}](#{{name .}})**{{/title}}
{{#content}}
[{{title}}](#{{name title}})
{{#unless @last}} | {{/unless}}
{{/content}}
</small>
{{/content}}

{{/.}}

{{#.}}
## {{title}}

[{{module}}](https://github.com/pandastrike/{{module}})

{{description}}

{{#content}}

### {{title}}

{{description}}

{{#content}}

#### {{title}}

{{#signature}}
_{{taking}} ⇒ {{returning}}_
{{/signature}}

{{description}}

{{#examples}}

{{#title}}
##### Example: {{.}}
{{^}}
##### Example
{{/title}}

{{description}}

```coffee
{{code}}
```
{{/examples}}

{{/content}}

{{/content}}

{{/.}}
